h2 {
    color: brown;
    text-align:center;
}
#buttons {
    display: flex;
    justify-content: space-between;
}
#messages {
    text-align: center;
    margin-top: 20px;
}
#result {
    text-align: center;
    margin-top: 50px;
}